<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Suite" verbose="1" parallel="tests" thread-count="5">
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="Home Tests">
        <classes>
            <class name="tests.HomeTest"/>
        </classes>
    </test>
    <test name="Cards Tests">
        <classes>
            <class name="tests.CardsTest"/>
        </classes>
    </test>
    <test name="Cart Tests">
        <classes>
            <class name="tests.CartTest"/>
        </classes>
    </test>
    <test name="Checkout Tests">
        <classes>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>
</suite>
